<div ng-if="receivedData != null">

    <table>
        <colgroup>
            <col width="50%">
            <col width="50%">
        </colgroup>
        <tr>
            <td colspan="2"><h2>{{ receivedData.name }} ({{ receivedData.nativeName }})</h2></td>
        </tr>
        <tr>
            <td class="right-aligned">Flag</td>
            <td><img src="{{ receivedData.flag }}" alt="flag" height="50rem"></td>
        </tr>
        <tr>
            <td class="right-aligned">Capital</td>
            <td>{{ receivedData.capital }}</td>
        </tr>
        <tr>
            <td class="right-aligned">Area</td>
            <td>{{ receivedData.area | number }} km<sup>2</sup></td>
        </tr>
        <tr>
            <td class="right-aligned">Population</td>
            <td>{{ receivedData.population | number }}</sup></td>
        </tr>
    </table>

    <h3>Currencies</h3>
    <div ng-repeat="currency in receivedData.currencies"> 
        <!-- <p class="centered">{{ currency.code }}: {{ currency.name }} ({{ currency.symbol }})</td> -->
        <p class="centered">{{ formatCurrency(currency) }}</td>        
    </div>

    <h3>Languages</h3>
    <div ng-repeat="language in receivedData.languages"> 
        <p class="centered">{{ language.name }} ({{ language.nativeName }})</td>
        <p class="centered">{{ formatLanguage(language) }}</td>
    </div>

</div>